# NOTE: Must be explicit with the environment
ENVIRONMENT=dev
APP_DOMAIN=http://0.0.0.0:8910
DATABASE_URL=postgres://dev:letmein@0.0.0.0:5432/my-keyp-redwood-app?connection_limit=1
SESSION_SECRET=

KEYP_CLIENT_ID=
